*{padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.inst-section{padding: 100px 0px;
    background-color: #fafafa;
}
.container{width: 1140px;
    margin: 0 auto;
}

a{text-decoration: none;
    
}


.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}

.row{display: flex;
    flex-wrap: wrap;
    margin: 0px -15px;
    justify-content: center;
    align-items: center;
    
}

.col-6{padding: 0px 15px;}

.main{position: relative;}

.main>img{width: 100%;}

.img-phone{position: absolute;
    
}

.dog-img{position: absolute;
    top: 19px;
    left: 132px;
    width: 54%;

}

.img-phone>img{width: 100%;

}


.main-1{
    border: 1px solid #ddd;
    text-align: center;
    padding: 20px 20px 20px;
    background-color: #fff;
    height: 100%;
    

}

.main-1>a{padding-bottom: 10px;
    display: inline-block;
}


input{padding: 17px 15px;
    width: 80%;
    margin-top: 15px;
    background-color: #fafafa;
    
}

.btn-1{margin-top: 20px;

}

.btn-1>a{text-decoration: none;
    font-size: 20px;
    color: #fff;
    background-color: #b2dffc;
    padding: 3px 116px;
    border-radius: 5px;
    display: inline-block;
}

.line{margin-top: 20px;}

.line span:nth-child(1){
    width: 100px;
    height: 1px;
    background-color: #000;
    display: inline-block;
    color: #ddd;

}

.line span:nth-child(3){
    width: 100px;
    height: 1px;
    background-color: #000;
    display: inline-block;
color: #ddd;
}

.line span:nth-child(2){
    font-size: 22px;
    padding: 0px 20px;
    
}

.btn-2{font-size: 18px;
    color: #000;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-2>i{color: blue;
    font-size: 22px;
    margin-right: 8px;
    vertical-align: bottom;
}

.btn-main>a{color: #000;}

.a-main-1{border: 1px solid #999;
    text-align: center;
    padding: 15px 15px;
    margin-top: 20px;
}

.a-main-1 a{font-size: 18px;
    font-weight: bold;
}

.a-main-1+h3{text-align: center;
    padding: 15px 0px;
    font-weight: 100;
}


.store-div{text-align: center;
}

.img-1{width: 40%;
    display: inline-block;
}


.img-2{width: 40%;
    display: inline-block;
    margin-left: 10px;
}






@media(max-width:1199px){
    .container{width: 960px;
    }
    .dog-img{display: none;}


    .col-xl-1{width: 8.33%;}
    .col-xl-2{width: 16.66%;}
    .col-xl-3{width: 25%;}
    .col-xl-4{width: 33.33%;}
    .col-xl-5{width: 41.66%;}
    .col-xl-6{width: 50%;}
    .col-xl-7{width: 58.33%;}
    .col-xl-8{width: 66.66%;}
    .col-xl-9{width: 75%;}
    .col-xl-10{width: 83.33%;}
    .col-xl-11{width: 91.66%;}
    .col-xl-12{width: 100%;}
    
}


@media(max-width:991px){
     
    .container{width: 720px;}

.col-lg-1{width: 8.33%;}
.col-lg-2{width: 16.66%;}
.col-lg-3{width: 25%;}
.col-lg-4{width: 33.33%;}
.col-lg-5{width: 41.66%;}
.col-lg-6{width: 50%;}
.col-lg-7{width: 58.33%;}
.col-lg-8{width: 66.66%;}
.col-lg-9{width: 75%;}
.col-lg-10{width: 83.33%;}
.col-lg-11{width: 91.66%;}
.col-lg-12{width: 100%;}

.dog-img{display: none;}

}

@media(max-width:767px){
    .container{width: 100%;
        padding: 0px 15px;
    }

    

    .btn-1>a,.dog-img,.line span:nth-child(1),.line span:nth-child(3){display: none;}
    .img-insta{width: 100%;}



.col-md-1{width: 8.33%;}
.col-md-2{width: 16.66%;}
.col-md-3{width: 25%;}
.col-md-4{width: 33.33%;}
.col-md-5{width: 41.66%;}
.col-md-6{width: 50%;}
.col-md-7{width: 58.33%;}
.col-md-8{width: 66.66%;}
.col-md-9{width: 75%;}
.col-md-10{width: 83.33%;}
.col-md-11{width: 91.66%;}
.col-md-12{width: 100%;}

}






